@charset "utf-8";

@import "normalize-rails";

@import "bourbon";
@import "neat";

@import "base/base";
@import "refills/flashes";

// Improve default styles
@import "sakura";

nav {
	ul {
		list-style: none;
	}
	li {
		display: inline-block;
	}
	a {
		font-weight: 800;
		padding: 10px;
	}
}

@mixin box_sizing {
	box-sizing: border-box;
}

.debug_dump {
	clear: both;
	float: left;
	width: 100%;
	margin-top: 45px;
	@include box_sizing;
}

#error_explanation {
	color: red;
}

.field_with_errors {
	color: red;
}